.scroll-bar {
  &::-webkit-scrollbar {
    height: 0;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
  }

  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
}